@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
	User acc;
	string jsonString = HttpContextAccessor.HttpContext.Session.GetString("AppLogin");
	if (!string.IsNullOrEmpty(jsonString))
	{
		acc = JsonConvert.DeserializeObject<User>(jsonString);
	}
}

<!doctype html>
<html lang="zxx" class="theme-light">

<!-- Mirrored from templates.envytheme.com/startp/default/brink-pink-index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Jun 2023 06:13:30 GMT -->
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- All CSS Link -->
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/assets/css/animate.min.css">
	<link rel="stylesheet" href="~/assets/css/meanmenu.css">
	<link rel="stylesheet" href="~/assets/css/boxicons.min.css">
	<link rel="stylesheet" href="~/assets/css/magnific-popup.min.css">
	<link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/assets/css/flaticon.css">
	<link rel="stylesheet" href="~/assets/css/odometer.min.css">
	<link rel="stylesheet" href="~/assets/css/slick.min.css">
	<link rel="stylesheet" href="~/assets/css/style.css">
	<link rel="stylesheet" href="~/assets/css/color/brink-pink-style.css">
	<link rel="stylesheet" href="~/assets/css/responsive.css">
	<link rel="stylesheet" href="~/assets/css/dark-color/brink-pink-dark-style.css">

	<title>@ViewBag.Title</title>

	<link rel="icon" type="image/png" href="~/assets/img/favicon.png">
</head>

<body>
	<div class="preloader">
		<div class="spinner"></div>
	</div>
	<!-- End Preloader Area -->
	<!-- Start Navbar Area -->
	<header id="header" class="headroom navbar-style-two">
		<div class="startp-responsive-nav">
			<div class="container">
				<div class="startp-responsive-menu">
					<div class="logo black-logo">
						<a href="brink-pink-index-3.html">
							<img src="~/assets/img/logo.png" alt="logo">
						</a>
					</div>
					<div class="logo white-logo">
						<a href="brink-pink-index-3.html">
							<img src="~/assets/img/white-logo.png" alt="logo">
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="startp-nav p-relative">
			<div class="container">
				<nav class="navbar navbar-expand-md navbar-light">
					<a class="navbar-brand black-logo" asp-controller="Home" asp-action="Index"><img src="~/assets/img/logo.png" alt="logo"></a>
					<a class="navbar-brand white-logo" asp-controller="Home" asp-action="Index"><img src="~/assets/img/white-logo.png" alt="logo"></a>

					<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
						<ul class="navbar-nav nav ml-auto">
							<li class="nav-item">
								<a asp-controller="Home" asp-action="Index" class="nav-link active">Home</a>
							</li>

							<li class="nav-item">
								<a asp-controller="Home" asp-action="About" class="nav-link">About </a>

							</li>

							<li class="nav-item">
								<a href="#" class="nav-link">Pages <i data-feather="chevron-down"></i></a>
								<ul class="dropdown_menu">
									<li class="nav-item">
										<a asp-controller="Home" asp-action="Features" class="nav-link">Features</a>
									</li>

									<li class="nav-item">
										<a asp-controller="Home" asp-action="Services" class="nav-link">Services</a>

									</li>

									<li class="nav-item"><a asp-controller="Home" asp-action="Feedback" class="nav-link">Feedback</a></li>

									<li class="nav-item">
										<a asp-controller="Home" asp-action="Project" class="nav-link">Project</a>

									</li>

									<li class="nav-item"><a asp-controller="Home" asp-action="Team" class="nav-link">Team</a></li>

									<li class="nav-item"><a asp-controller="Home" asp-action="Pricing" class="nav-link">Pricing</a></li>

									<li class="nav-item">
										<a href="#" class="nav-link">User <i data-feather="chevron-right"></i></a>
										<ul class="dropdown_menu">
											<li class="nav-item"><a asp-controller="Login" asp-action="Login" class="nav-link">Login</a></li>

											<li class="nav-item"><a asp-controller="Login" asp-action="Register" class="nav-link">Register</a></li>

										</ul>
									</li>

									<li class="nav-item"><a asp-controller="Home" asp-action="Privacy" class="nav-link">Privacy Policy</a></li>

									<li class="nav-item"><a asp-controller="Home" asp-action="TermsConditions" class="nav-link">Terms & Conditions</a></li>

									<li class="nav-item"><a asp-controller="Home" asp-action="FAQ" class="nav-link">FAQ</a></li>

									
								</ul>
							</li>

							<li class="nav-item">
								<a asp-controller="Home" asp-action="Product" class="nav-link">Shop</a>

							</li>

							<li class="nav-item">
								<a asp-controller="Home" asp-action="Blog" class="nav-link">Blog</a>

							</li>

							@* <li class="nav-item"><a asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a></li> *@
						</ul>
					</div>

					<div class="others-option">
						<a asp-controller="Cart" asp-action="Index" class="cart-wrapper-btn"><i data-feather="shopping-cart"></i><span></span></a>
						
							<a asp-controller="Login" asp-action="Login" class="btn btn-primary">Login</a>
						
					</div>
				</nav>
			</div>
		</div>

		<div class="others-option-for-responsive">
			<div class="container">
				<div class="dot-menu">
					<div class="inner">
						<div class="circle circle-one"></div>
						<div class="circle circle-two"></div>
						<div class="circle circle-three"></div>
					</div>
				</div>

				<div class="container">
					<div class="option-inner">
						<div class="others-option">
							<a asp-controller="Cart" asp-action="Index" class="cart-wrapper-btn"><i data-feather="shopping-cart"></i><span></span></a>
							@* <a asp-controller="Home" asp-action="Contact" class="btn btn-light">Support</a> *@
							<a asp-controller="Login" asp-action="Login" class="btn btn-primary">Login</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	@RenderBody()

	<footer class="footer-area bg-f7fafd">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<div class="logo black-logo">
							<a href="index.html"><img src="~/assets/img/logo.png" alt="logo"></a>
						</div>
						<div class="logo white-logo">
							<a href="index.html"><img src="~/assets/img/white-logo.png" alt="logo"></a>
						</div>
						<p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-footer-widget pl-5">
						<h3>Company</h3>
						<ul class="list">
							<li><a href="about-1.html">About Us</a></li>
							<li><a href="services-1.html">Services</a></li>
							<li><a href="features.html">Features</a></li>
							<li><a href="pricing.html">Our Pricing</a></li>
							<li><a href="blog-1.html">Latest News</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h3>Support</h3>
						<ul class="list">
							<li><a href="faq.html">FAQ's</a></li>
							<li><a href="privacy-policy.html">Privacy Policy</a></li>
							<li><a href="terms-conditions.html">Terms & Condition</a></li>
							<li><a href="contact.html">Support Us</a></li>
							<li><a href="contact.html">Contact Us</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h3>Address</h3>

						<ul class="footer-contact-info">
							<li><i data-feather="map-pin"></i> 27 Division St, New York, NY 10002, USA</li>
							<li><i data-feather="mail"></i> Email: <a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#a0c8c5cccccfe0d3d4c1d2d4d08ec3cfcd"><span class="__cf_email__" data-cfemail="c4aca1a8a8ab84b7b0a5b6b0b4eaa7aba9">[email&#160;protected]</span></a></li>
							<li><i data-feather="phone-call"></i> Phone: <a href="tel:+ (321) 984 754">+ (321) 984 754</a></li>
						</ul>
						<ul class="social-links">
							<li><a href="#" class="facebook" target="_blank"><i data-feather="facebook"></i></a></li>
							<li><a href="#" class="twitter" target="_blank"><i data-feather="twitter"></i></a></li>
							<li><a href="#" class="instagram" target="_blank"><i data-feather="instagram"></i></a></li>
							<li><a href="#" class="linkedin" target="_blank"><i data-feather="linkedin"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-12 col-md-12">
					<div class="copyright-area">
						<p>Copyright <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear())</script> StartP. All Rights Reserved by </p>
					</div>
				</div>
			</div>
		</div>

		<img src="~/assets/img/map.png" class="map" alt="map">
		<div class="shape1"><img src="~/assets/img/shape1.png" alt="shape"></div>
		<div class="shape8 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
	</footer>
	<!-- End Footer Area -->
	<!-- Dark/Light Toggle -->
	<!-- All JS Link -->
	<script src="~/assets/js/jquery.min.js"></script>
	<script src="~/assets/js/bootstrap.bundle.min.js"></script>
	<script src="~/assets/js/meanmenu.min.js"></script>
	<script src="~/assets/js/wow.min.js"></script>
	<script src="~/assets/js/magnific-popup.min.js"></script>
	<script src="~/assets/js/appear.min.js"></script>
	<script src="~/assets/js/odometer.min.js"></script>
	<script src="~/assets/js/slick.min.js"></script>
	<script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
	<script src="~/assets/js/isotope.pkgd.min.js"></script>
	<script src="~/assets/js/owl.carousel.min.js"></script>
	<script src="~/assets/js/feather.min.js"></script>
	<script src="~/assets/js/form-validator.min.js"></script>
	<script src="~/assets/js/contact-form-script.js"></script>
	<script src="~/assets/js/main.js"></script>
</body>

<!-- Mirrored from templates.envytheme.com/startp/default/brink-pink-index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Jun 2023 06:13:30 GMT -->
</html>
