@model X.PagedList.IPagedList<sem3.Models.Blog>

@{
    ViewData["Title"] = "Blog";
}
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Blog Grid</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="~/assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="~/assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="~/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="~/assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="~/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="~/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End Page Title -->
<!-- Start Blog Area -->
<div class="blog-area ptb-80">
    <div class="container">
        <div class="row">
            @foreach(var blog in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-post-box">
                        <div class="entry-thumbnail">
                            <a href="#"><img src="~/uploads/@blog.Image" /></a>
                        </div>

                        <div class="entry-post-content">
                            <div class="entry-meta">
                                <ul>
                                    <li><a href="blog-1.html">Admin</a></li>
                                    <li>August 15, 2019</li>
                                </ul>
                            </div>

                            <h3><a href="single-blog.html">@blog.Description</a></h3>
                            <p>@blog.SubDescription</p>
                        </div>
                    </div>
                </div>
            }
          
        </div>
    </div>
</div>

