@model sem3.Response.HomeResponse;

@{
	ViewData["Title"] = "Home Page";
}

<div class="hosting-main-banner">
	<div class="d-table">
		<div class="d-table-cell">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-12">
						<div class="hosting-banner-content">
							<h1>The Best Web Hosting</h1>
							<ul>
								<li>FREE Domain Name for 2st Year</li>
								<li>FREE SSL Certificate Included</li>
								<li>1-Click Wordpress Install</li>
								<li>24/7 Support</li>
							</ul>
							<p>Starting at <span>$8.99</span> $3.95/month</p>
							<a href="#" class="btn btn-primary">Get Started</a>
						</div>
					</div>

					<div class="col-lg-6 col-md-12">
						<div class="hosting-banner-image">
							<img src="assets/img/hosting-banner-image/1.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
							<img src="assets/img/hosting-banner-image/2.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
							<img src="assets/img/hosting-banner-image/3.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
							<img src="assets/img/hosting-banner-image/4.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
							<img src="assets/img/hosting-banner-image/5.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
							<img src="assets/img/hosting-banner-image/6.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
							<img src="assets/img/hosting-banner-image/7.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
							<img src="assets/img/hosting-banner-image/8.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
							<img src="assets/img/hosting-banner-image/9.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
							<img src="assets/img/hosting-banner-image/static-main.png" class="wow fadeInUp" alt="image">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
	<div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
	<div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
	<div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
	<div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
	<div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
	<div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
	<div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End Main Banner -->
<!-- Start Boxes Area -->
<div class="boxes-area hosting-boxes-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-box">
					<div class="icon">
						<i class="flaticon-money"></i>
					</div>
					<h3>Money-back Guarantee</h3>
					<p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-box bg-f78acb">
					<div class="icon">
						<i class="flaticon-data-1"></i>
					</div>
					<h3>Big Data Transfer</h3>
					<p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-box bg-c679e3">
					<div class="icon">
						<i class="flaticon-dashboard"></i>
					</div>
					<h3>99.9% Server Uptime</h3>
					<p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-box bg-eb6b3d">
					<div class="icon">
						<i class="flaticon-support"></i>
					</div>
					<h3>Live 24/7 Support</h3>
					<p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Boxes Area -->
<!-- Start Why Choose US Area -->
<div class="why-choose-us ptb-80 pt-0">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 col-md-12">
				<div class="section-title">
					<h2>Why Choose Us</h2>
					<div class="bar"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>

				<div class="why-choose-us-image">
					<img src="assets/img/why-choose-us-image/man-stand.png" class="wow fadeInLeft" alt="image">
					<img src="assets/img/why-choose-us-image/database.png" class="wow fadeInRight" alt="image">
					<img src="assets/img/services-left-image/cercle-shape.png" class="rotateme" alt="image">
					<img src="assets/img/why-choose-us-image/main-static.png" class="main-pic wow fadeInUp" alt="image">
				</div>
			</div>

			<div class="col-lg-6 col-md-12">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="single-why-choose-us">
							<div class="icon">
								<i class="flaticon-team"></i>
							</div>
							<h3>Proficient & Friendly</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="single-why-choose-us">
							<div class="icon">
								<i class="flaticon-rocket"></i>
							</div>
							<h3>Extremely Fast</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="single-why-choose-us">
							<div class="icon">
								<i class="flaticon-shield"></i>
							</div>
							<h3>100% Safe & Security</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="single-why-choose-us">
							<div class="icon">
								<i class="flaticon-diamond"></i>
							</div>
							<h3>Top-Rated</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Why Choose US Area -->
<!-- Start Feedback Area -->
<div class="feedback-area ptb-80">
	<div class="container">
		<div class="section-title">
			<h2>What users Saying</h2>
			<div class="bar"></div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>

		<div class="testimonials-slides owl-carousel owl-theme">
			<div class="single-feedback-item">
				<div class="client-info align-items-center">
					<div class="image">
						<img src="assets/img/client-image/1.jpg" alt="image">
					</div>

					<div class="title">
						<h3>Steve Lucy</h3>
						<span>Lead Developer at Envato</span>
					</div>
				</div>

				<p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>

			<div class="single-feedback-item">
				<div class="client-info align-items-center">
					<div class="image">
						<img src="assets/img/client-image/2.jpg" alt="image">
					</div>

					<div class="title">
						<h3>David Luiz</h3>
						<span>Lead Developer at Envato</span>
					</div>
				</div>

				<p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>

			<div class="single-feedback-item">
				<div class="client-info align-items-center">
					<div class="image">
						<img src="assets/img/client-image/3.jpg" alt="image">
					</div>

					<div class="title">
						<h3>Marta Smith</h3>
						<span>Lead Developer at Envato</span>
					</div>
				</div>

				<p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>

	<div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
	<div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
	<div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
	<div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
	<div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
	<div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
	<div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End Feedback Area -->
<!-- Start Ready To Talk Area -->
<div class="ready-to-talk">
	<div class="container">
		<h3>Ready to talk?</h3>
		<p>Our team is here to answer your question about StartP</p>
		<a href="contact.html" class="btn btn-primary">Contact Us</a>
		<span><a href="contact.html">Or, get started now with a free trial</a></span>
	</div>
</div>
<!-- End Ready To Talk Area -->
<!-- Start Partner Area -->
<div class="partner-area partner-section ptb-80 pt-0">
	<div class="container">
		<h5>More that 1.5 million businesses and organizations use StartP</h5>

		<div class="partner-inner">
			<div class="row">
				<div class="col-lg-2 col-md-3 col-6 col-sm-4">
					<a href="#">
						<img src="assets/img/partner-img/partner-1.png" alt="partner">
						<img src="assets/img/partner-img/partner-hover1.png" alt="partner">
					</a>
				</div>

				<div class="col-lg-2 col-md-3 col-6 col-sm-4">
					<a href="#">
						<img src="assets/img/partner-img/partner-2.png" alt="partner">
						<img src="assets/img/partner-img/partner-hover2.png" alt="partner">
					</a>
				</div>

				<div class="col-lg-2 col-md-3 col-6 col-sm-4">
					<a href="#">
						<img src="assets/img/partner-img/partner-3.png" alt="partner">
						<img src="assets/img/partner-img/partner-hover3.png" alt="partner">
					</a>
				</div>

				<div class="col-lg-2 col-md-3 col-6 col-sm-4">
					<a href="#">
						<img src="assets/img/partner-img/partner-4.png" alt="partner">
						<img src="assets/img/partner-img/partner-hover4.png" alt="partner">
					</a>
				</div>

				<div class="col-lg-2 col-md-3 col-6 col-sm-4">
					<a href="#">
						<img src="assets/img/partner-img/partner-5.png" alt="partner">
						<img src="assets/img/partner-img/partner-hover5.png" alt="partner">
					</a>
				</div>

				<div class="col-lg-2 col-md-3 col-6 col-sm-4">
					<a href="#">
						<img src="assets/img/partner-img/partner-6.png" alt="partner">
						<img src="assets/img/partner-img/partner-hover6.png" alt="partner">
					</a>
				</div>

				<div class="col-lg-2 col-md-3 col-6 col-sm-4">
					<a href="#">
						<img src="assets/img/partner-img/partner-7.png" alt="partner">
						<img src="assets/img/partner-img/partner-hover7.png" alt="partner">
					</a>
				</div>

				<div class="col-lg-2 col-md-3 col-6 col-sm-4">
					<a href="#">
						<img src="assets/img/partner-img/partner-8.png" alt="partner">
						<img src="assets/img/partner-img/partner-hover8.png" alt="partner">
					</a>
				</div>

				<div class="col-lg-2 col-md-3 col-6 col-sm-4">
					<a href="#">
						<img src="assets/img/partner-img/partner-9.png" alt="partner">
						<img src="assets/img/partner-img/partner-hover9.png" alt="partner">
					</a>
				</div>

				<div class="col-lg-2 col-md-3 col-6 col-sm-4">
					<a href="#">
						<img src="assets/img/partner-img/partner-10.png" alt="partner">
						<img src="assets/img/partner-img/partner-hover10.png" alt="partner">
					</a>
				</div>

				<div class="col-lg-2 col-md-3 col-6 col-sm-4">
					<a href="#">
						<img src="assets/img/partner-img/partner-11.png" alt="partner">
						<img src="assets/img/partner-img/partner-hover11.png" alt="partner">
					</a>
				</div>

				<div class="col-lg-2 col-md-3 col-6 col-sm-4">
					<a href="#">
						<img src="assets/img/partner-img/partner-12.png" alt="partner">
						<img src="assets/img/partner-img/partner-hover12.png" alt="partner">
					</a>
				</div>

				<div class="col-lg-2 col-md-3 col-6 col-sm-4">
					<a href="#">
						<img src="assets/img/partner-img/partner-13.png" alt="partner">
						<img src="assets/img/partner-img/partner-hover13.png" alt="partner">
					</a>
				</div>

				<div class="col-lg-2 col-md-3 col-6 col-sm-4">
					<a href="#">
						<img src="assets/img/partner-img/partner-14.png" alt="partner">
						<img src="assets/img/partner-img/partner-hover14.png" alt="partner">
					</a>
				</div>

				<div class="col-lg-2 col-md-3 col-6 col-sm-4">
					<a href="#">
						<img src="assets/img/partner-img/partner-15.png" alt="partner">
						<img src="assets/img/partner-img/partner-hover15.png" alt="partner">
					</a>
				</div>

				<div class="col-lg-2 col-md-3 col-6 col-sm-4">
					<a href="#">
						<img src="assets/img/partner-img/partner-16.png" alt="partner">
						<img src="assets/img/partner-img/partner-hover16.png" alt="partner">
					</a>
				</div>

				<div class="col-lg-2 col-md-3 col-6 col-sm-4">
					<a href="#">
						<img src="assets/img/partner-img/partner-17.png" alt="partner">
						<img src="assets/img/partner-img/partner-hover17.png" alt="partner">
					</a>
				</div>

				<div class="col-lg-2 col-md-3 col-6 col-sm-4">
					<a href="#">
						<img src="assets/img/partner-img/partner-18.png" alt="partner">
						<img src="assets/img/partner-img/partner-hover18.png" alt="partner">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Partner Area -->
<!-- Start Blog Area -->
<div class="blog-area ptb-80">
	<div class="container">
		<div class="section-title">
			<h2>The News from Our Blog</h2>
			<div class="bar"></div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>

		<div class="row">
			@foreach (Blog blog in @Model.Blogs)
			{
				<div class="col-lg-4 col-md-6">
					<div class="single-blog-post">
						<div class="blog-image">
							<a>
								<img src="~/uploads/@blog.Image" alt="image">
							</a>

							<div class="date">
								<i data-feather="calendar"></i> March 15, 2019
							</div>
						</div>

						<div class="blog-post-content">
							<h3><a>@blog.Title</a></h3>
							<p>@blog.Description</p>

							<a href="#" class="read-more-btn">Read More <i data-feather="arrow-right"></i> </a>
						</div>
					</div>
				</div>
			}
			
		</div>
	</div>
</div>
<!-- End Blog Area -->
<!-- Start CTA Area -->
<div class="cta-area ptb-80">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-7 col-md-6">
				<div class="cta-content">
					<h3>Sign up for web hosting today!</h3>
				</div>
			</div>

			<div class="col-lg-5 col-md-6">
				<div class="cta-right-content">
					<div class="hosting-price">
						<span>Starting at only</span>
						<h4>$4.75/mo*</h4>
					</div>

					<div class="buy-btn">
						<a href="contact.html" class="btn btn-primary">Get Started</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End CTA Area -->
