@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
	User acc = JsonConvert.DeserializeObject<User>(HttpContextAccessor.HttpContext.Session.GetString("AdminLogin"));
}
<!doctype html>
<html lang="en">


<!-- Mirrored from codervent.com/dashtreme/demo/vertical/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 21 Jun 2023 10:06:28 GMT -->
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--favicon-->
	<link rel="icon" href="~/template/images/favicon-32x32.png" type="image/png" />
	<!--plugins-->
	<link href="~/template/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
	<link href="~/template/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
	<link href="~/template/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
	<link href="~/template/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
	<!-- loader-->
	
	<!-- Bootstrap CSS -->
	<link href="~/template/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/template/css/bootstrap-extended.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap" rel="stylesheet">
	<link href="~/template/css/app.css" rel="stylesheet">
	<link href="~/template/css/icons.css" rel="stylesheet">

	<title>@ViewBag.Title</title>
</head>
<body class="bg-theme bg-theme1">
	<div class="wrapper">
		<!--sidebar wrapper -->
		<div class="sidebar-wrapper" data-simplebar="true">
			<div class="sidebar-header">
				<div>
					<img src="~/template/images/logo-icon.png" class="logo-icon" alt="logo icon">
				</div>
				<div>
					<h4 class="logo-text">Dashtreme</h4>
				</div>
				<div class="toggle-icon ms-auto">
					<i class='bx bx-arrow-back'></i>
				</div>
			</div>
			<!--navigation-->
			<ul class="metismenu" id="menu">
				<li>
					<a asp-controller="Dashboard" asp-action="Index">
						<div class="parent-icon">
							<i class='bx bx-home-alt'></i>
						</div>
						<div class="menu-title">Dashboard</div>
					</a>
					
				</li>
				<li>
					<a href="javascript:;" class="has-arrow">
						<div class="parent-icon">
							<i class='bx bx-cart'></i>
						</div>
						<div class="menu-title">eCommerce</div>
					</a>
					<ul>
						<li>
							<a asp-controller="Product" asp-action="Index"><i class='bx bx-radio-circle'></i>Products</a>
						</li>
						
						<li>
							<a asp-controller="Product" asp-action="Create"><i class='bx bx-radio-circle'></i>Add New Products</a>
						</li>
						<li>
							<a asp-controller="Order" asp-action="Index"><i class='bx bx-radio-circle'></i>Orders</a>
						</li>
					</ul>
				</li>
				
				
			</ul>
			<!--end navigation-->
		</div>
		<!--end sidebar wrapper -->
		<!--start header -->
		
		<!--end sidebar wrapper -->
		<!--start header -->
		@RenderBody()
		<footer class="page-footer">
			<p class="mb-0">Copyright © 2023. All right reserved.</p>
		</footer>
	</div>

	<script src="~/template/js/bootstrap.bundle.min.js"></script>
	<!--plugins-->
	<script src="~/template/js/jquery.min.js"></script>
	<script src="~/template/plugins/simplebar/js/simplebar.min.js"></script>
	<script src="~/template/plugins/metismenu/js/metisMenu.min.js"></script>
	<script src="~/template/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
	<script src="~/template/plugins/chartjs/chart.min.js"></script>
	<script src="~/template/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
	<script src="~/template/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
	<script src="~/template/plugins/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="~/template/plugins/sparkline-charts/jquery.sparkline.min.js"></script>
	<script src="~/template/plugins/jquery-knob/excanvas.js"></script>
	<script src="~/template/plugins/jquery-knob/jquery.knob.js"></script>
	<script>
		$(function () {
			$(".knob").knob();
		});
	</script>
	<script src="~/template/js/index.js"></script>
	<!--app JS-->
	<script src="~/template/js/app.js"></script>
</body>
</html>
